BOT_TOKEN=
OKIDOKI_API_TOKEN=
OKIDOKI_API_BASE=https://api.doki.online
MENTOR_CHAT_ID=
MENTOR_CONTACT_URL=https://t.me/mr_winchester1
TEST_EXCEPTION_USERNAME=artkozk
DB_PATH=data/testbot.db
LOG_FILE=logs/testbot.log
